.card {
  color: white;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  width: 550px;
  background-color: rgba(137, 81, 41, 0.8);
  padding: 20px;
  margin: 10px;
}
.card-heading {
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
}
.card-para {
  font-size: 20px;
  width: 400px;
}
.card-image{
    margin-right: 10px;
    width: 60px;
    height: 60px;
}
.card-image img{
    width: 100%;
    height: 100%;
}